//Variables
:root {
  //Colors
  --c-pink: hsl(322, 100%, 66%);
  --c-light-pink: hsl(321, 100%, 78%);
  --c-light-red: hsl(0, 100%, 63%);
  --c-vd-cyan: hsl(192, 100%, 9%);
  --c-very-pale-blue: hsl(207, 100%, 98%);

  //Font
  --default-font-size: 18px;
}
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Open-Sans-4";
  src: url(../Fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open-Sans-6";
  src: url(../Fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "Open-Sans-7";
  src: url(../Fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}
@mixin respond($breakpoint) {
  @if ($breakpoint == tab-land) {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }
  @if ($breakpoint == tab-port-large) {
    @media screen and (max-width: 909px) {
      @content;
    }
  }
  @if ($breakpoint == tab-port-small) {
    @media screen and (max-width: 909px) {
      @content;
    }
  }
  @if ($breakpoint == phone-large) {
    @media screen and (max-width: 600px) {
      @content;
    }
  }
  @if ($breakpoint == phone-small) {
    @media screen and (max-width: 375px) {
      @content;
    }
  }
}

//Reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 2px red solid;
}
body {
  min-height: 100vh;
  width: 100vw;
  font-size: 18px;
  overflow-x: hidden;
}
a {
  &:link,
  &:visited {
    text-decoration: none;
  }
}
input,
button {
  border: none;
  font-family: inherit;
}
img {
  width: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
}
//Reusable styles
.header-primary {
  font-family: "Poppins";
  font-size: 2.5rem;
  color: var(--c-vd-cyan);
}
.header-secondary {
  font-family: "Poppins";
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}
.parag {
  font-family: "Open-Sans-6";
  color: var(--c-vd-cyan);
  font-size: var(--default-font-size);
}
.btn {
  padding: 25px 100px;
  border-radius: 100px;
  text-align: center;
  font-family: "Open-Sans-6";
  background-color: var(--c-pink);
  color: #fff;
  &.border {
    border: 2px solid var(--c-pink);
    color: var(--c-pink);
    padding: 10px 30px;
    background-color: transparent;
  }
}
.width {
  width: 40%;
}
.text-center {
  text-align: center;
}
//Header
.header {
  padding: 2rem 2rem;
  margin-bottom: 6rem;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }
  &__img {
    display: flex;
    justify-content: center;
    margin-block-end: 5rem;
    img {
      width: 78%;
    }
  }
}
.trend {
  display: flex;
  justify-content: space-around;
}
.followers {
  &__img {
    width: 3rem;
  }
  &__header {
    font-family: "Poppins";
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    color: var(--c-vd-cyan);
    span {
      font-family: "Open-Sans-4";
      font-size: 25px;
      font-weight: 400;
    }
  }
}

//Main
.main {
  margin-block-end: 10rem;
}

.bg {
  background-color: #f6fbff;
}
.about {
  margin-block-end: 9rem;
  .top {
    margin-bottom: -10px;
  }
  .bottom {
    margin-top: -10px;
  }
  &__info {
    padding: 2rem 4rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  &__text,
  &__img {
    flex: 1;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .parag {
      width: 90%;
    }
  }
}
.gap {
  gap: 2rem;
}
.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

//Footer
.footer {
  .top {
    margin-bottom: -10px;
  }
  &__container {
    padding: 3rem 5rem;
    background-color: #00252e;
  }
  &__content {
    display: flex;
    & > * {
      flex: 1;
    }
    .parag {
      color: #fff;
      font-family: "Open-Sans-4";
      &.width {
        width: 68%;
      }
    }
  }
  &__logo {
    width: 24vw;
  }
  &__about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__contact {
    display: flex;
    align-items: center;
    gap: 1rem;
    &--img {
      width: 1.5rem;
    }
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__form {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    font-family: "Open-Sans-4";
  }
  &__input {
    padding-block: 1rem;
    padding-inline: 1rem;
    border-radius: 5px;

    cursor: pointer;
    font-size: 1rem;
    font-family: "Open-Sans-6";
    &:focus {
      outline: none;
      padding-inline: 1rem;
    }
  }
  &__btn {
    padding: 1rem 3rem;
    border-radius: 5px;
  }
  &__icons {
    font-size: 3rem;
    color: #fff;
    display: flex;
    margin-top: 3rem;
    gap: 2rem;
  }
}
.icon {
  cursor: pointer;
  transition: all 0.2s ease-in;
  &:hover {
    color: rgb(83, 170, 232);
  }
}
.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.email {
  color: rgb(167, 21, 21);
  font-family: "Open-Sans-4";
}
.hidden {
  display: none;
}
.red {
  border: 3px rgb(167, 21, 21) solid;
}
@include respond(tab-land) {
  .footer {
    &__form {
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
    }
    &__input {
      width: 100%;
    }
  }
}

@include respond(tab-port-large) {
  .header-primary {
    font-size: 2rem;
  }
  .width {
    width: 72%;
  }
  .followers {
    &__header {
      font-size: 4rem;
    }
  }
}
@include respond(tab-port-small) {
  .header-primary {
    font-size: 1.7rem;
  }
  .about {
    &__info {
      padding: 2rem 1rem;
    }
  }
  .footer {
    &__container {
      padding: 2rem;
    }
    .newsletter {
      gap: 1rem;
    }
    &__content {
      .parag.width {
        width: 80%;
      }
    }
    &__icons {
      font-size: 2rem;
    }
  }
}
@include respond(phone-large) {
  .header {
    padding-inline: 1rem;
    &__nav {
      & > * {
        flex: 1;
      }
    }
    &__btn {
      display: flex;
      justify-content: end;
    }
  }
  .header-primary {
    font-size: 1.4rem;
    text-align: center;
  }
  .trend {
    flex-direction: column;
  }
  .btn {
    padding: 17px 49px;
    font-size: 15px;
  }
  .about {
    &__info {
      display: grid;
      grid-template-columns: 100%;
    }
    &__text {
      text-align: center;
      gap: 1rem;
      align-items: center;
      .parag {
        width: 80%;
      }
    }
    &__img {
      display: flex;
      justify-content: center;
      grid-row: 1/2;
      img {
        width: 59%;
      }
    }
  }
  .footer {
    &__content {
      flex-direction: column-reverse;
      gap: 2rem;
    }
    &__about {
      gap: 1rem;
    }
    &__form {
      align-items: flex-end;
    }
    &__logo {
      width: 46vw;
    }
  }
}
@include respond(phone-small) {
  .about {
    &__info {
      gap: 2rem;
    }
    &__text {
      .parag {
        width: 100%;
      }
    }

    &__img {
      img {
        width: 80%;
      }
    }
  }
}
