:root {
  --c-pink: hsl(322, 100%, 66%);
  --c-light-pink: hsl(321, 100%, 78%);
  --c-light-red: hsl(0, 100%, 63%);
  --c-vd-cyan: hsl(192, 100%, 9%);
  --c-very-pale-blue: hsl(207, 100%, 98%);
  --default-font-size: 18px;
}

@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Open-Sans-4";
  src: url(../Fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open-Sans-6";
  src: url(../Fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "Open-Sans-7";
  src: url(../Fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-size: 18px;
  overflow-x: hidden;
}

a:link, a:visited {
  text-decoration: none;
}

input,
button {
  border: none;
  font-family: inherit;
}

img {
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

.header-primary {
  font-family: "Poppins";
  font-size: 2.5rem;
  color: var(--c-vd-cyan);
}

.header-secondary {
  font-family: "Poppins";
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}

.parag {
  font-family: "Open-Sans-6";
  color: var(--c-vd-cyan);
  font-size: var(--default-font-size);
}

.btn {
  padding: 25px 100px;
  border-radius: 100px;
  text-align: center;
  font-family: "Open-Sans-6";
  background-color: var(--c-pink);
  color: #fff;
}
.btn.border {
  border: 2px solid var(--c-pink);
  color: var(--c-pink);
  padding: 10px 30px;
  background-color: transparent;
}

.width {
  width: 40%;
}

.text-center {
  text-align: center;
}

.header {
  padding: 2rem 2rem;
  margin-bottom: 6rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}
.header__content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.header__img {
  display: flex;
  justify-content: center;
  margin-block-end: 5rem;
}
.header__img img {
  width: 78%;
}

.trend {
  display: flex;
  justify-content: space-around;
}

.followers__img {
  width: 3rem;
}
.followers__header {
  font-family: "Poppins";
  font-size: 6rem;
  display: flex;
  flex-direction: column;
  color: var(--c-vd-cyan);
}
.followers__header span {
  font-family: "Open-Sans-4";
  font-size: 25px;
  font-weight: 400;
}

.main {
  margin-block-end: 10rem;
}

.bg {
  background-color: #f6fbff;
}

.about {
  margin-block-end: 9rem;
}
.about .top {
  margin-bottom: -10px;
}
.about .bottom {
  margin-top: -10px;
}
.about__info {
  padding: 2rem 4rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.about__text, .about__img {
  flex: 1;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.about__text .parag {
  width: 90%;
}

.gap {
  gap: 2rem;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer .top {
  margin-bottom: -10px;
}
.footer__container {
  padding: 3rem 5rem;
  background-color: #00252e;
}
.footer__content {
  display: flex;
}
.footer__content > * {
  flex: 1;
}
.footer__content .parag {
  color: #fff;
  font-family: "Open-Sans-4";
}
.footer__content .parag.width {
  width: 68%;
}
.footer__logo {
  width: 24vw;
}
.footer__about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__contact--img {
  width: 1.5rem;
}
.footer .newsletter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__form {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  font-family: "Open-Sans-4";
}
.footer__input {
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Open-Sans-6";
}
.footer__input:focus {
  outline: none;
  padding-inline: 1rem;
}
.footer__btn {
  padding: 1rem 3rem;
  border-radius: 5px;
}
.footer__icons {
  font-size: 3rem;
  color: #fff;
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
}

.icon {
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.icon:hover {
  color: rgb(83, 170, 232);
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.email {
  color: rgb(167, 21, 21);
  font-family: "Open-Sans-4";
}

.hidden {
  display: none;
}

.red {
  border: 3px rgb(167, 21, 21) solid;
}

@media screen and (max-width: 1024px) {
  .footer__form {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  .footer__input {
    width: 100%;
  }
}
@media screen and (max-width: 909px) {
  .header-primary {
    font-size: 2rem;
  }
  .width {
    width: 72%;
  }
  .followers__header {
    font-size: 4rem;
  }
}
@media screen and (max-width: 909px) {
  .header-primary {
    font-size: 1.7rem;
  }
  .about__info {
    padding: 2rem 1rem;
  }
  .footer__container {
    padding: 2rem;
  }
  .footer .newsletter {
    gap: 1rem;
  }
  .footer__content .parag.width {
    width: 80%;
  }
  .footer__icons {
    font-size: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .header {
    padding-inline: 1rem;
  }
  .header__nav > * {
    flex: 1;
  }
  .header__btn {
    display: flex;
    justify-content: end;
  }
  .header-primary {
    font-size: 1.4rem;
    text-align: center;
  }
  .trend {
    flex-direction: column;
  }
  .btn {
    padding: 17px 49px;
    font-size: 15px;
  }
  .about__info {
    display: grid;
    grid-template-columns: 100%;
  }
  .about__text {
    text-align: center;
    gap: 1rem;
    align-items: center;
  }
  .about__text .parag {
    width: 80%;
  }
  .about__img {
    display: flex;
    justify-content: center;
    grid-row: 1/2;
  }
  .about__img img {
    width: 59%;
  }
  .footer__content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .footer__about {
    gap: 1rem;
  }
  .footer__form {
    align-items: flex-end;
  }
  .footer__logo {
    width: 46vw;
  }
}
@media screen and (max-width: 375px) {
  .about__info {
    gap: 2rem;
  }
  .about__text .parag {
    width: 100%;
  }
  .about__img img {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
